body {
	background-image: url("s.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
	
}

.center {
    
    border: 1px solid #6B8E23;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
	text-align: center;
	margin: 0 auto;
	  width: 200px;
	  background: black;
	  padding: 20px;
	  color: white;
}

